.card-colletion{
    flex-direction: row;
    display: flex;
}

.title-content{
    width: 17.688rem;
    height: 2.375rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    word-spacing: 0.047rem;
    line-height: 2.375rem;
    margin: 2.375rem 0 0 6.25rem;
    color: #474747;
}