.swiper {
  margin: 0 auto;
}

.slide-content {
  display: flex;
  height: 42.563rem;
  flex-direction: row;
  width: 100%;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.text-content {
  width: 31.875rem;
  height: 22rem;
  margin: 7.875rem 0 0 6.25rem;
}

.text-content h4 {
  width: 17.5rem;
  height: 1.5rem;
  font-family: 'Inter';
  font-weight: 700;
  color: #F6AA1C;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.text-content p {
  width: 30.938rem;
  height: 4.25rem;
  margin: 1.25rem 0 0 0;
  font-size: 1.125rem;
  color: #474747;
  line-height: 2.125rem;
  letter-spacing: 0.047rem;
  font-weight: 400;
}

.image-content {
  width: 35.844rem;
  height: 31.975rem;
  object-fit: contain;
  overflow: visible;
}

.image-content img {
  position: absolute;
  top: 3rem;
  left: 30rem;
  width: 56.844rem;
  height: 37.975rem;
  object-fit: contain;
  transform: scale(1.1) rotate(-2deg);
}

.swiper-pagination-bullet-active {
  background-color: #C92071;
}

.box-simbol {
  width: 8.75rem;
  height: 8.75rem;
  margin: 5rem 0 0 3.5rem;
}