.logo-footer {
    width: 100%;
    margin-left: 6.375rem;
    margin-top: 4.5rem;
    font-size: 2.275rem;
    font-weight: 600;
    flex-direction: column;
}
.logo-footer img {
    display: inline-block;
    margin-top: 2.5rem;
    margin-right: 1.15rem;
}
#teste {
    font-size: 1rem;
    line-height:1rem ;
    font-weight: 400;
    color: aliceblue;
    margin-top: 2.188rem;
}
#titulo-informacao{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
}
.informacoes{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
}
#titulo-categoria{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
}
.categorias{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
}
.contatos{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
}
#titulo-contato{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
}

#box-footer {
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    border: 1px solid red;
    width: 100%;
    min-height: 28.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}