/* Container principal */
#box-footer {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 60px 80px;
  font-family: 'Inter', sans-serif;
  gap: 40px;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: .5rem; /* 8px */
}

.logo-icon {
  width: 2.063; /*33px */
  height: 2.063;
}

/* Bloco com logo e redes sociais */
.logo-footer {
  margin-left: 1.55rem;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo-footer h1 {
  font-size: 2rem;
  font-weight: 700;
}

.logo-footer p {
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5;
}

.logo-footer img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.redes-sociais {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

/* Coluna genérica (informações, categorias, contato) */
.informacoes,
.categorias,
.contatos {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}

#titulo-informacao,
#titulo-categoria,
#titulo-contato {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.informacoes p,
.categorias p,
.contatos p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.6;
  color: #FFFFFF;
  margin-bottom: 8px;
}

/* Rodapé final opcional */
.footer-copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 40px;
}
